h1,H4{
    color: #dadada;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.600);
    text-align: center;
}
a{
    text-decoration: none;
    background: transparent;
    border: 3px solid red;
    border-radius: 20px;
    padding: 8px;
    font-size: 20px;
    // width: 350px;
    color: #fff;
    -webkit-box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.603);
            box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.603);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.822);
}

a:hover{
    border: 3px solid #fff;
    color: #fff;
    background-color: red;
}

.form{
    padding: 100px;
    background-color: rgb(61, 61, 61);
    // border: 3px solid red;
    border-radius: 20px;
    // backdrop-filter: blur(1px); 
    // -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.603);
    //         box-shadow: 0 0 30px rgba(255, 255, 255, 0.603);
    // -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.836);
    //     box-shadow: 0 0 30px rgba(255, 255, 255, 0.877);
}
.button{
    font-size: 20px;
    font-weight: 10px;
    // transition: all ease 0.5s;
    background-color: red;
}
.button:hover{
    background-color: red;
    color: gainsboro;
    border: 3px solid #fff;
    box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.603);
}
input{
    background: transparent;
    border: 3px solid red;
    border-radius: 20px;
    padding: 15px;
    width: 350px;
    outline-color: #fff;
    color: #fff;
    -webkit-box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.603);
            box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.603);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.822);
}

::placeholder{
    color: #fff;
}

.body{
    background-color: black;
    padding: 400px;
}