.navbar{
    padding: 15px;
}
img{
    width: 120px;
}

.list{
    float: right;
}

li{
    font-size: 17px;
    text-align: center;
    background: transparent;
    border: 3px solid black;
    border-radius: 20px;
    width: 120px;
    outline: none;
    color: #fff;
    -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.603);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.603);
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.822);
    
}
li:hover{
    border: 3px solid #fff;
    -webkit-box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.603);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.603);
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.822);
}


li a {
    color: #fff;

}